<%= form_tag({controller: "travel_times", action: "index"}, method: "get") do %>
  <div class="location-fields">
    <%= label_tag :start %>
    <%= text_field_tag :start, @cm.startcoord %>
  </div>
  <div class="location-fields">
    <%= label_tag :end %>
    <%= text_field_tag :end, @cm.endcoord %>
  </div>

  <div class="location-fields">
    <%= label_tag :time_and_date %>
    <%= text_field_tag :time_and_date, @cm.time %>
  </div>

  <div class="arrival-field">
    <%#= label_tag :leaving_or_arrival_time %>
    <%= text_field_tag :arrival %>
    <%#= select_tag(:arrive, options_for_select([['Leaving', 1], [:arrive, 2]])) %>
  </div>

  <%= submit_tag 'Set' %>
<% end %>
