<%= form_for(@location) do  |f| %>

  <div class="form-group">
    <%= f.label :start_address %>
    <%= f.text_field :start_address %>
  </div>

  <div class="form-group">
    <%= f.label :end_address %>
    <%= f.text_field :end_address %>
  </div>

  <%= submit_tag 'Submit' %>

<% end %>
