<p>From <strong><em><%= @location.start_address %></em></strong> to <strong><em><%= @destination %></em></strong> it takes approximately <strong><em><%= @cm.get_time %></em></strong> </p>
<p><strong>Latitude</strong>: <%= @location.latitude %>, <strong>Longitude</strong>: <%= @location.longitude %></p>
